.wrapper {
  background-color: #fffcdc;
  height: 100vh;
  .navbar {
    background-color: #191919 !important;
  }
  .main-content {
    margin: auto;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    .login-form {
      background-color: #2c272e;
      border-radius: 5px;
      padding: 30px;
      .login-btn {
        background-color: #864879;
        border: none;
      }
    }
  }
}
