<div class="content">
  <div class="body">
    <div class="center">
      <mat-card>
        <h2 class="h1">User signup</h2>
        <mat-divider></mat-divider>
        <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
          <mat-form-field appearance="fill" class="w-100 mt-4">
            <mat-label>Username</mat-label>
            <input
              matInput
              autocomplete="off"
              formControlName="username"
              required
              [autocomplete]="'off'"
            />
            <mat-error>Username is required</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="w-100 mt-2">
            <mat-label>Email</mat-label>
            <input
              matInput
              autocomplete="off"
              formControlName="email"
              required
              [autocomplete]="'off'"
            />
            <mat-error>Email format is not correct</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="w-100 mt-2">
            <mat-label>Password</mat-label>
            <input
              matInput
              type="password"
              autocomplete="off"
              formControlName="password"
              required
              [autocomplete]="'off'"
            />
            <mat-error>Password should be minimum of 6 characters</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="w-100 mt-2">
            <mat-label>Confirm password</mat-label>
            <input
              matInput
              type="password"
              autocomplete="off"
              formControlName="confirmPassword"
              required
              [autocomplete]="'off'"
            />
            <mat-error>Password should be minimum of 6 characters</mat-error>
          </mat-form-field>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            class="w-100 mt-2"
            [disabled]="!signupForm.valid"
          >
            Signup
          </button>
        </form>
        <div
          class="w-100 d-flex justify-content-center align-items-center p-2 mt-2"
        >
          Already have an account?
        </div>
        <a mat-raised-button color="warn" class="w-100 mt-2" href="/login">
          Login
        </a>
      </mat-card>
    </div>
  </div>
</div>

<!-- <div class="wrapper">
  <nav class="navbar navbar-light bg-light p-4">
    <div class="container">
      <a class="navbar-brand text-light" style="letter-spacing: 2px"
        >WORKOHOLIC</a
      >
    </div>
  </nav>
  <main class="main-content">
    <div class="login-form col-5">
      <span class="text-light">WELCOME TO SIGNUP</span>
      <hr />

      <div class="row">
        <div class="col-12">
          <label for="email" class="text-light">Your Username</label>
          <input type="email" name="email" id="email" class="form-control" />
        </div>
        <div class="col-12">
          <label for="email" class="text-light">Your Email</label>
          <input type="email" name="email" id="email" class="form-control" />
        </div>
        <div class="col-12 mt-4">
          <label for="password" class="text-light">Your Password</label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
          />
        </div>

        <div class="col-12 mt-4">
          <label for="confirm-password" class="text-light"
            >Please confirm Password</label
          >
          <input
            type="password"
            name="confirm-password"
            id="confirm-password"
            class="form-control"
          />
        </div>
        <div class="col-12 mt-4">
          <input
            type="button"
            class="btn btn-primary btn-block login-btn"
            value="Signup"
          />
        </div>
        <div
          class="col-12 mt-4 d-flex justify-content-center align-items-center"
        >
          <span class="text-center">
            <span class="text-light mr-2">Already have an account?</span>
            <a class="text-info" href="/login">Sign in</a>
          </span>
        </div>
      </div>
    </div>
  </main>
</div> -->
