<div class="task__wrapper">
  <div class="container">
    <div class="row">
      <div class="col-10 p-4">
        <h2 class="">TASKS</h2>
      </div>
      <div class="col-2 p-4">
        <button mat-raised-button (click)="addTask()">
          <i class="fa fa-plus mr-2"></i>
          Add Task
        </button>
      </div>
    </div>
  </div>
  <div class="content_section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-2" *ngFor="let task of tasks">
          <mat-card class="example-card">
            <div class="d-flex justify-content-between">
              <mat-card-title
                >{{
                  task.task_name.length > 20
                    ? task.task_name.substring(0, 17) + ".."
                    : task.task_name
                }}
                <!-- <mat-icon>{{
                  project.is_active ? "check_circle" : "cancel"
                }}</mat-icon> -->
              </mat-card-title>
              <button mat-button [matMenuTriggerFor]="menu">
                <mat-icon
                  aria-hidden="false"
                  aria-label="Example home icon"
                  style="cursor: pointer"
                  >more_vert</mat-icon
                >
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="editTask(task)">Edit</button>

                <button mat-menu-item (click)="delete(task.task_id)">
                  Delete
                </button>
              </mat-menu>
            </div>
            <mat-card-subtitle>{{ task.task_status }}</mat-card-subtitle>
            <mat-card-content>
              <p>
                {{ task.task_description }}
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
