<div class="profile_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-10 p-4">
        <h2 class="">ACCOUNTS</h2>
      </div>
      <div class="col-2 p-4">
        <button mat-raised-button>
          <i class="fa fa-edit mr-2"></i>
          Edit Profile
        </button>
      </div>
    </div>
  </div>
  <div class="profile__content">
    <div class="container d-flex justify-content-start">
      <div class="col-12">
        <mat-card>
          <div class="username__section mb-3">
            <span>USERNAME:</span>
            <span class="m-2">Satyam sinha</span>
          </div>
          <div class="username__section mb-3">
            <span>ADDRESS:</span>
            <span class="m-2">Asansol</span>
          </div>
          <div class="username__section mb-3">
            <span>PROFESSION:</span>
            <span class="m-2">Software engineer</span>
          </div>
          <div class="username__section mb-3">
            <span>COMPANY NAME:</span>
            <span class="m-2">Colorbracket Technologies LLP</span>
          </div>
          <div class="username__section mb-3">
            <span>RESUME:</span>
            <span class="m-2"
              ><a href="http://www.google.com">updated_resume.pdf</a></span
            >
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
