<div class="task__wrapper">
  <div class="container">
    <div class="row">
      <div class="col-10 p-4">
        <h2 class="">Projects</h2>
      </div>
      <div class="col-2 p-4">
        <button mat-raised-button (click)="addProject()">
          <i class="fa fa-plus mr-2"></i>
          Add Project
        </button>
      </div>
    </div>
  </div>

  <div class="content_section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-2" *ngFor="let project of projects">
          <mat-card class="project-card">
            <div class="d-flex justify-content-between">
              <mat-card-title
                >{{
                  project.project_name.length > 20
                    ? project.project_name.substring(0, 20) + ".."
                    : project.project_name
                }}
                <mat-icon>{{
                  project.is_active ? "check_circle" : "cancel"
                }}</mat-icon>
              </mat-card-title>
              <button mat-button [matMenuTriggerFor]="menu">
                <mat-icon
                  aria-hidden="false"
                  aria-label="Example home icon"
                  style="cursor: pointer"
                  >more_vert</mat-icon
                >
              </button>
              <mat-menu #menu="matMenu">
                <button
                  mat-menu-item
                  (click)="makeActive(project.is_active, project.project_id)"
                >
                  {{ project.is_active ? "Make inactive" : "Make active" }}
                </button>
                <button mat-menu-item (click)="editProject(project)">
                  Edit
                </button>

                <button mat-menu-item (click)="delete(project.project_id)">
                  Delete
                </button>
              </mat-menu>
            </div>
            <mat-card-subtitle>{{ project.project_status }}</mat-card-subtitle>
            <mat-card-content>
              <p class="mb-3">
                {{ project.description }}
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
