<div class="task__wrapper">
  <div class="container">
    <div class="row">
      <div class="col-10 p-4">
        <h2 class="">Projects</h2>
      </div>
      <div class="col-2 p-4">
        <button mat-raised-button>
          <i class="fa fa-plus mr-2"></i>
          Add Project
        </button>
      </div>
    </div>
  </div>

  <div class="content_section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-2">
          <mat-card class="example-card">
            <mat-card-title>Task 1</mat-card-title>
            <mat-card-subtitle>Done</mat-card-subtitle>
            <mat-card-content>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla a
                consequuntur beatae nisi aperiam veniam optio numquam similique.
                Tempore beatae nostrum mollitia aspernatur ullam itaque quia non
                vel sequi exercitationem!
              </p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-md-4 mb-2">
          <mat-card class="example-card">
            <mat-card-title>Task 2</mat-card-title>
            <mat-card-subtitle>Pending</mat-card-subtitle>
            <mat-card-content>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla a
                consequuntur beatae nisi aperiam veniam optio numquam similique.
                Tempore beatae nostrum mollitia aspernatur ullam itaque quia non
                vel sequi exercitationem!
              </p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-md-4 mb-2">
          <mat-card class="example-card">
            <mat-card-title>Task 3</mat-card-title>
            <mat-card-subtitle>Cancelled</mat-card-subtitle>
            <mat-card-content>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla a
                consequuntur beatae nisi aperiam veniam optio numquam similique.
                Tempore beatae nostrum mollitia aspernatur ullam itaque quia non
                vel sequi exercitationem!
              </p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-md-4 mb-2">
          <mat-card class="example-card">
            <mat-card-title>Task 4</mat-card-title>
            <mat-card-subtitle>Ongoing</mat-card-subtitle>
            <mat-card-content>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla a
                consequuntur beatae nisi aperiam veniam optio numquam similique.
                Tempore beatae nostrum mollitia aspernatur ullam itaque quia non
                vel sequi exercitationem!
              </p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-md-4 mb-2">
          <mat-card class="example-card">
            <mat-card-title>Task 5</mat-card-title>
            <mat-card-subtitle>Done</mat-card-subtitle>
            <mat-card-content>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla a
                consequuntur beatae nisi aperiam veniam optio numquam similique.
                Tempore beatae nostrum mollitia aspernatur ullam itaque quia non
                vel sequi exercitationem!
              </p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-md-4 mb-2">
          <mat-card class="example-card">
            <mat-card-title>Task 6</mat-card-title>
            <mat-card-subtitle>Done</mat-card-subtitle>
            <mat-card-content>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla a
                consequuntur beatae nisi aperiam veniam optio numquam similique.
                Tempore beatae nostrum mollitia aspernatur ullam itaque quia non
                vel sequi exercitationem!
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
